<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ .Title }} | The Archer</title>
    <meta name="description" content="The Archer">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://the-archer.now.sh{{ .Permalink }}">
    <meta property="og:locale" content="en_GB">
    <meta property="og:updated_time" content='{{ dateFormat "2006-01-02T15:04:05Z" .Lastmod.UTC | safeHTML }}'>
    <meta property="article:published_time" content='{{ dateFormat "2006-01-02T15:04:05Z" .Date.UTC | safeHTML }}'>
    <meta property="article:modified_time" content='{{ dateFormat "2006-01-02T15:04:05Z" .Lastmod.UTC | safeHTML }}'>

    {{ with .Params.header_image }}
    <meta property="og:image" content="https://the-archer.now.sh{{ . | absURL }}">
    {{ end }}

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165472769-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-165472769-1');
    </script>
    <link
        href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:wght@500&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/site.css">
    <link rel="stylesheet" type="text/css" href="/article.css">
</head>

<body>
    {{ partial "menu.html"}}
    <section class="main">
        <p class="summary">
            {{ with (split .Params.Lede " ") }}
            <strong>
                {{ index . 0 }}
                {{ index . 1 }}
            </strong>

            {{ delimit (after 2 . ) " " }}
            {{ end }}
        </p>
        <h1>{{ .Title }}</h1>
        <aside class="authors">{{ .Params.Author }} <span class="ico">➶</span>
            {{ .Lastmod.Format "January 2, 2006" }}
        </aside>
        <article>
            {{ .Content }}
        </article>
    </section>
    <footer>
        The Archer is a non-profit-making, non-political & non-religious newspaper, staffed entirely by volunteers.
    </footer>
    <script src="/menu.js"></script>
    <script src="/create-captions.js"></script>
</body>

</html>