<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>The Archer</title>
    <meta name="description" content="The Archer">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165472769-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-165472769-1');
    </script>
    <link
        href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/site.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>

<body>
    {{ partial "menu.html" }}
    <section class="main">
        <section class="articles-group">
            <h2>Articles in the {{ .Data.Term }} category</h2>
            {{ range first 10 .Pages }}
            {{ partial "article-summary.html" . }}
            {{ end }}
        </section>
    </section>
    {{ partial "footer.html" }}
    <script src="./menu.js"></script>
</body>

</html>