<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>The Archer</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link
        href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/site.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>

<body>
    {{ partial "menu.html" }}
    <section class="main">
        <img class="index-logo" src="/the-archer-name.png" />

        <section class="articles-group">
            {{ range .Paginator.Pages }}
            {{ partial "article-summary.html" . }}
            {{ end }}
        </section>
        {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}">See older articles</a>
        {{ end }}
    </section>


    {{ partial "footer.html" }}
    <script src="./menu.js"></script>
</body>

</html>