p.summary {
  font-family: "Mukta", sans-serif;
  text-align: center;
  line-height: 1.4em;
  font-size: calc(12px + 1vw);
  max-width: 50rem;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: calc(25px + 4vw);
  line-height: 1.1em;
  text-align: center;
  margin-top: 0;
}

article {
  border-top: 1px solid #dadada;
  font-family: "PT Serif", serif;
  max-width: 40rem;
  margin: 0 auto;
  text-align: left;
  color: #222;
  line-height: 2rem;
  font-size: 18px;
  text-align: justify;
}

article p:first-child:first-letter {
  color: black;
  float: left;
  font-family: Georgia;
  font-size: 4rem;
  line-height: 2rem;
  padding: 0.2em 0.1em 0 0.1em;
}

article img {
  width: 100%;
}

article figcaption {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  text-align: center;
  color: #555;
}

article h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  padding-top: 2rem;
}

aside.authors {
  color: #41a8e2;
  font-family: "Mukta", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  max-width: 40rem;
  margin: 0 auto;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  line-height: 2rem;
}

span.ico {
  font-size: 1.5rem;
  display: inline-block;
  vertical-align: middle;
}